<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\StoreGraphQl\Model\Resolver\Store\StoreConfigDataProvider">
		<arguments>
			<argument name="extendedConfigData" xsi:type="array">
				<item name="lofmarketplace_general_enable" xsi:type="string">lofmarketplace/general_settings/enable</item>
				<item name="lofmarketplace_general_rating_approval" xsi:type="string">lofmarketplace/general_settings/rating_approval</item>
				<item name="lofmarketplace_general_seller_approval" xsi:type="string">lofmarketplace/general_settings/seller_approval</item>
			</argument>
		</arguments>
	</type>
</config>
